
HTML{background-color: #CFCFCD;}

h1  {
  color: #472836;
  font-family: calibri;
  font-size: 150%;
  text-align: center;
}
h2  {
  color: #472836;
  font-family: calibri;
  font-size: 140%;
  text-align: left;
}
p  {
  color: #472836;
  font-family: calibri;
  font-size: 120%;
  text-align: left;
}