
HTML{background-color: #CFCFCD;}
h1  {
  color: #e5eeeb;
  background-color: rgb(3, 35, 39);
  border-radius: 10px 10px 0px 0px;
  padding: 10px 220px;
  border: solid #000000 2px;
  display: inline-block;
  margin: 4px;
  font: italic 4rem 'Lobster', cursive;
  text-align: center;
}
header {
  background-color: white;
  position: relative;
  padding: 10px;
  border: solid #000000 2px;
  margin: 4px;
 overflow: hidden;  
 border-radius: 0px 0px 10px 10px;
}
.background img {
  position: absolute;
  top: -50%;
  opacity: 0.5;
  width: 80%;

}
.underline {
  display: inline-block;
  height: 1px;
  padding: 0px 358px;
  border-top: solid rgb(2, 2, 36) 3px;
  border-bottom: solid rgb(2, 2, 36) 5px;
}
.title-graphics {
  display: inline-block;
  margin: 4px;
}
.headerImages img {
  position: relative;
}
.Island-Girl-Graphic {
  display: inline-block;
  border-radius: 10px;
  box-shadow: 4px 4px 4px black;
  height: 122px;
  margin: 0px 120px 0px 1px;
}
.Island-Girl-Teen {
  border-radius: 15px;
  box-shadow: 4px 4px 4px black;
  display: inline-block;
  border:solid black 4px;
  height: 200px;
  margin: 0px 0px 0px 0px;
  }
.Sunny-Palm-Trees-Graphic {
  display: inline-block;
  border-radius: 10px;
  box-shadow: 4px 4px 4px black;
  height: 122px;
  margin: 0px 0px 80px 120px;
}
p {
  color: #472836;
  background-color:  whitesmoke;
  padding: 5px;
  border-radius: 5px;
  font-family: calibri;
  display: inline-block;
  margin: 10px;
  font-size: 100%;
}
.childhood {
  float: left;
  position: relative;
  height: auto;
  padding:5px;
  box-sizing: border-box;
  width: 53%;
  text-align: left;
}
.Ocean {
  float: right;
  height: auto;
  padding: 5px;
  box-sizing: border-box;
  width: 41%;
  /* margin: 0px 50px 100px 70px; */
  text-align: left; 
}
.AuntieJustine {
  position: absolute;
  bottom: -115px;
  right: -14px;
  display: block;
  height: 150px;
  /* margin: 0px 0px -100px 200px; */
}

.Beachwithhills {
  display: block;
  position: absolute; 
  bottom: -154px;
  right: -4px;
  height: 150px;
  /* margin: 0px -10px -100px 300px; */
}
